<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System">
			<section name="DevExpress.LookAndFeel.Design.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="SewingSystem.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
			<section name="SewingSystem.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	</configSections>
	<applicationSettings>
		<DevExpress.LookAndFeel.Design.AppSettings>
			<setting name="DPIAwarenessMode" serializeAs="String">
				<value>System</value>
			</setting>
			<setting name="RegisterBonusSkins" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="DefaultAppSkin" serializeAs="String">
				<value></value>
			</setting>
			<setting name="DefaultPalette" serializeAs="String">
				<value>Pine Light</value>
			</setting>
			<setting name="TouchUI" serializeAs="String">
				<value></value>
			</setting>
			<setting name="CompactUI" serializeAs="String">
				<value></value>
			</setting>
			<setting name="TouchScaleFactor" serializeAs="String">
				<value></value>
			</setting>
			<setting name="DirectX" serializeAs="String">
				<value></value>
			</setting>
			<setting name="RegisterUserSkins" serializeAs="String">
				<value></value>
			</setting>
			<setting name="FontBehavior" serializeAs="String">
				<value></value>
			</setting>
			<setting name="DefaultAppFont" serializeAs="String">
				<value>Tahoma;9.75</value>
			</setting>
			<setting name="CustomPaletteCollection" serializeAs="Xml">
				<value />
			</setting>
		</DevExpress.LookAndFeel.Design.AppSettings>
	</applicationSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
	<connectionStrings>
		<add name="SewingSystem.Properties.Settings.DBT_SHConnectionString" connectionString="Data Source=.;Initial Catalog=SewingSystem2;Integrated Security=True" providerName="System.Data.SqlClient" />
		<add name="SewingSystem.Properties.Settings.DBT_SH2ConnectionString" connectionString="Data Source=.;Initial Catalog=SewingSystem2;Integrated Security=True" providerName="System.Data.SqlClient" />
		<add name="SewingSystem.Properties.Settings.DBTSH2ConnectionString" connectionString="Data Source=.;Initial Catalog=SewingSystem2;Integrated Security=True" providerName="System.Data.SqlClient" />
		<add name="SewingSystem.Properties.Settings.DBT_SH22ConnectionString" connectionString="Data Source=.;Initial Catalog=SewingSystem2;Integrated Security=True" providerName="System.Data.SqlClient" />
		<add name="SewingSystem.Properties.Settings.DBTSH2ConnectionString1" connectionString="Data Source=.;Initial Catalog=SewingSystem2;Integrated Security=True" providerName="System.Data.SqlClient" />
		<add name="SewingSystem.Properties.Settings.SewingSystem2ConnectionString" connectionString="Data Source=.;Initial Catalog=SewingSystem2;Integrated Security=True" providerName="System.Data.SqlClient" /><!--<add name="SewingSystem2Entities" connectionString="metadata=res://*/LinqModel.Model1.csdl|res://*/LinqModel.Model1.ssdl|res://*/LinqModel.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPR14PLANETS;initial catalog=SewingSystem2;integrated security=True;encrypt=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
	<add name="TAFCEL_DBEntities" connectionString="metadata=res://*/Models.Model1.csdl|res://*/Models.Model1.ssdl|res://*/Models.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=SewingSystem2;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /><add name="SewingSystem2Entities" connectionString="metadata=res://*/DAL.Model1.csdl|res://*/DAL.Model1.ssdl|res://*/DAL.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPR14PLANETS;initial catalog=SewingSystem2;integrated security=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
	<userSettings>
		<SewingSystem.Settings>
			<setting name="PathLocalDB" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="PathLoNaDB" serializeAs="String">
				<value />
			</setting>
			<setting name="DBName" serializeAs="String">
				<value>TAFCEL</value>
			</setting>
			<setting name="SqlUserName" serializeAs="String">
				<value />
			</setting>
			<setting name="SqlPassword" serializeAs="String">
				<value />
			</setting>
			<setting name="Mode" serializeAs="String">
				<value>Windows</value>
			</setting>
			<setting name="ServerName" serializeAs="String">
				<value>.</value>
			</setting>
			<setting name="ProductTrue" serializeAs="String">
				<value />
			</setting>
			<setting name="ProductBeginDate" serializeAs="String">
				<value />
			</setting>
			<setting name="ProductEndDate" serializeAs="String">
				<value />
			</setting>
			<setting name="تهيئة_البرنامج" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="العمليات" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="التقارير" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="طلبات_التفصيل" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="اعدادات_الاتصال" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="معلومات_الشركة" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="الفروع" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="الخياطون" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="المعلمين" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="العملاء" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="باقات_الاشتراك" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="فاتورة_جديدة" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="ادارة_الفواتير" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="ادارة_الاشتراكات" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="ادارة_المصروفات" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="التقرير_اليومي" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="التقرير_الشهري" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="تقرير_الفترة" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="الفواتير_للفترة" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="الاشتراكات" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="المصروفات" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="ادارة_المستخدمين" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="ادارة_الصلاحيات" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="بيانات_المغسلة" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="انواع_العملية" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="انواع_المرزام" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="انواع_النشا" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="انواع_النيله" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="الاصناف_الرئيسية" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="الاصناف_الفرعية" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="مجموعات_العملاء" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="العملاء" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="مجموعات_المستخدمين" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="المستخدمين" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="الفروع" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="انواع_العملية_اضافه" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="انواع_العملية_تعديل" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="انواع_العملية_حذف" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="انواع_العملية_طباعة" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="انواع_المرزام_اضافه" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="انواع_المرزام_تعديل" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="انواع_المرزام_حذف" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="انواع_المرزام_طباعة" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="انواع_النشا_اضافه" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="انواع_النشا_تعديل" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="انواع_النشا_حذف" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="انواع_النشا_طباعة" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="انواع_النيلة_اضافه" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="انواع_النيلة_تعديل" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="انواع_النيلة_حذف" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="انواع_النيلة_طباعة" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="الاصناف_الرئيسية_اضافه" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="الاصناف_الرئيسية_تعديل" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="الاصناف_الرئيسية_حذف" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="الاصناف_الرئيسية_طباعة" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="الاصناف_الفرعية_اضافه" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="الاصناف_الفرعية_تعديل" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="الاصناف_الفرعية_حذف" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="الاصناف_الفرعية_طباعة" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="الفروع_اضافه" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="الفروع_تعديل" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="الفروع_حذف" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="الفروع_طباعة" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="العمال_اضافه" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="العمال_تعديل" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="العمال_حذف" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="العمال_طباعة" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="المعلمين_اضافه" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="المعلمين_تعديل" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="المعلمين_حذف" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="المعلمين_طباعة" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="مجموعات_العملاء_اضافه" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="مجموعات_العملاء_تعديل" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="مجموعات_العملاء_حذف" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="مجموعات_العملاء_طباعة" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="العملاء_اضافه" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="العملاء_تعديل" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="العملاء_حذف" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="العملاء_طباعة" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="باقات_الاشتراك_اضافه" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="باقات_الاشتراك_تعديل" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="باقات_الاشتراك_حذف" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="باقات_الاشتراك_طباعة" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="فاتورة_جديدة_اضافه" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="فاتوره_جديده_تعديل" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="فاتورة_جديدة_حذف" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="فاتورة_جديدة_طباعة" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="ادارة_الفواتير_اضافه" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="ادارة_الفواتير_تعديل" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="ادارة_الفواتير_حذف" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="ادارة_الفواتير_طباعة" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="ادارة_الاشتراكات_اضافه" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="ادارة_الاشتراكات_تعديل" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="ادارة_الاشتراكات_حذف" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="ادارة_الاشتراكات_طباعة" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="ادارة_المصروفات_اضافه" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="ادارة_المصروفات_تعديل" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="ادارة_المصروفات_حذف" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="ادارة_المصروفات_طباعة" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="الفروع_اضافه" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="الفروع_تعديل" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="الفروع_حذف" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="الفروع_طباعة" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="مجموعات_المستخدمين_اضافه" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="مجموعات_المستخدمين_تعديل" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="مجموعات_المستخدمين_حذف" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="مجموعات_المستخدمين_طباعة" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="المستخدمين_اضافه" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="المستخدمين_تعديل" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="المستخدمين_حذف" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="المستخدمين_طباعة" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="بيانات_المغسلة_تعديل" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="ادارة_الصلاحيات_تعديل" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="بيانات_المغسلة_طباعة" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="ادارة_الصلاحيات_طباعة" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="ادارة_الفواتير_اضافه_دفعة" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="ادارة_الفواتير_تعديل_دفعة" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="ادارة_الفواتير_حذف_دفعة" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="ادارة_الفواتير_طباعة_دفعة" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="Language" serializeAs="String">
				<value>ar-SA</value>
			</setting>
			<setting name="التقرير_اليومي_طباعة" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="التقرير_اليومي_PDF" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="التقرير_اليومي_اكسل" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="التقرير_الشهري_طباعة" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="التقرير_الشهري_PDF" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="التقرير_الشهري_اكسل" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="تقرير_الفترة_طباعة" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="تقرير_الفترة_PDF" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="تقرير_الفترة_اكسل" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="الفواتير_للفترة_طباعة" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="الفواتير_للفترة_PDF" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="الفواتير_للفترة_اكسل" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="الفواتير_غير_المدفوعة_طباعة" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="الفواتير_غير_المدفوعة_PDF" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="الفواتير_غير_المدفوعة_اكسل" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="الفواتير_غير_المستلمة_طباعة" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="الفواتير_غير_المستلمة_PDF" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="الفواتير_غير_المستلمة_اكسل" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="الفواتير_غير_المدفوعة" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="الفواتير_غير_المستلمة" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="المصروفات_طباعة" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="المصروفات_PDF" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="المصروفات_اكسل" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="تقرير_الانواع" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="تقرير_الانواع_طباعة" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="تقرير_الانواع_PDF" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="تقرير_الانواع_اكسل" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="فواتير_العملاء" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="فواتير_العملاء_طباعة" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="فواتير_العملاء_اكسل" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="فواتير_العملاء_PDF" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="بيانات_العمال" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="بيانات_الاصناف" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="بيانات_المعلمين" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="بيانات_العملاء" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="بيانات_الاسعار" serializeAs="String">
				<value>False</value>
			</setting>
		</SewingSystem.Settings>
		<SewingSystem.Properties.Settings>
			<setting name="PathLocalDB" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="PathLoNaDB" serializeAs="String">
				<value />
			</setting>
			<setting name="DBName" serializeAs="String">
				<value />
			</setting>
			<setting name="SqlUserName" serializeAs="String">
				<value />
			</setting>
			<setting name="SqlPassword" serializeAs="String">
				<value />
			</setting>
			<setting name="Mode" serializeAs="String">
				<value />
			</setting>
			<setting name="ServerName" serializeAs="String">
				<value />
			</setting>
			<setting name="ProductTrue" serializeAs="String">
				<value />
			</setting>
			<setting name="ProductBeginDate" serializeAs="String">
				<value />
			</setting>
			<setting name="ProductEndDate" serializeAs="String">
				<value />
			</setting>
			<setting name="المخزن" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="اعدادات_النظام" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="التقارير" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="اعدادات_الاتصال" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="معلومات_الشركة" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="العمليات" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="المعلمين" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="الخياطون" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="العملاء" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="ترميز_المقاسات" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="تصنيفات_الاقمشة" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="الاقمشة" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="سندات_القبض" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="المشتريات" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="شاشة_التوريد" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="اشعارات_دائنه" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="فاتورة_التفصيل" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="اشعارات_SMS" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="تقرير_الفترة" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="الفواتير_للفترة" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="المستخدمون_والمجموعات" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="ادارة_الصلاحيات" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="تقارير_المعلمين" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="تقارير_الخياطين" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="تقارير_سندات_القبض" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="تقارير_المبيعات" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="تقارير_المشتريات" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="تقارير_المصروفات" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="تقارير_حالة_فواتير_المبيعات" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="تقرير_المخزون" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="تقارير_حسابات_العملاء" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="مجموعات_المستخدمين" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="المستخدمين" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="الفروع" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="SkinName" serializeAs="String">
				<value />
			</setting>
			<setting name="PaletteName" serializeAs="String">
				<value />
			</setting>
			<setting name="SystemFont" serializeAs="String">
				<value>Tahoma, 12pt</value>
			</setting>
			<setting name="الموديلات_طباعة" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="المعلمين_اضافه" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="المعلمين_تعديل" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="المعلمين_حذف" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="المعلمين_طباعة" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="الخياطون_اضافه" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="الخياطون_تعديل" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="الخياطون_حذف" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="الخياطون_طباعة" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="التقرير_الشهري" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="التقرير_اليومي" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="بيانات_العملاء" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="الفواتير_المدفوعة" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="ترميز_المقاسات_اضافه" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="ترميز_المقاسات_تعديل" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="ترميز_المقاسات_حذف" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="ترميز_المقاسات_طباعة" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="تصنيفات_الاقمشة_اضافه" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="تصنيفات_الاقمشة_تعديل" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="تصنيفات_الاقمشة_حذف" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="تصنيفات_الاقمشة_طباعة" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="الاقمشة_اضافه" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="الاقمشة_تعديل" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="الاقمشة_حذف" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="الاقمشة_طباعة" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="سندات_الصرف_للموردين_اضافه" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="سندات_الصرف_للموردين_تعديل" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="سندات_الصرف_للموردين_حذف" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="سندات_الصرف_للموردين_طباعة" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="الفواتير_المستلمة" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="لم_يدفع_عربون" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="سند_صرف_مصروف_حذف" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="سند_صرف_مصروف_طباعة" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="شاشة_التوريد_اضافه" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="شاشة_التوريد_تعديل" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="شاشة_التوريد_حذف" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="شاشة_التوريد_طباعة" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="طلبات_التفصيل_اضافه" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="طلبات_التفصيل_تعديل" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="طلبات_التفصيل_حذف" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="طلبات_التفصيل_طباعة" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="فاتورة_التفصيل_اضافه" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="فاتورة_التفصيل_تعديل" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="فاتورة_التفصيل_حذف" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="فاتورة_التفصيل_طباعة" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="فاتورة_جديدة_اضافه" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="فاتوره_جديده_تعديل" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="فاتورة_جديدة_حذف" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="فاتورة_جديدة_طباعة" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="ادارة_الفواتير_اضافه" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="ادارة_الفواتير_تعديل" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="ادارة_الفواتير_حذف" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="ادارة_الفواتير_طباعة" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="العملاء_اضافه" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="العملاء_تعديل" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="العملاء_حذف" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="العملاء_طباعة" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="ادارة_المصروفات_اضافه" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="ادارة_المصروفات_تعديل" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="ادارة_المصروفات_حذف" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="ادارة_المصروفات_طباعة" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="الفروع_اضافه" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="الفروع_تعديل" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="الفروع_حذف" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="الفروع_طباعة" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="مجموعات_المستخدمين_اضافه" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="مجموعات_المستخدمين_تعديل" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="مجموعات_المستخدمين_حذف" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="مجموعات_المستخدمين_طباعة" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="المستخدمين_اضافه" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="المستخدمين_تعديل" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="المستخدمين_حذف" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="المستخدمين_طباعة" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="معلومات_الشركة_تعديل" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="ادارة_الصلاحيات_تعديل" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="معلومات_الشركة_طباعة" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="ادارة_الصلاحيات_طباعة" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="ادارة_الفواتير_اضافه_دفعة" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="ادارة_الفواتير_تعديل_دفعة" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="ادارة_الفواتير_حذف_دفعة" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="ادارة_الفواتير_طباعة_دفعة" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="Language" serializeAs="String">
				<value>ar-SA</value>
			</setting>
			<setting name="التقرير_اليومي_طباعة" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="التقرير_اليومي_PDF" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="التقرير_اليومي_اكسل" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="التقرير_الشهري_طباعة" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="التقرير_الشهري_PDF" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="التقرير_الشهري_اكسل" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="تقرير_الفترة_طباعة" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="تقرير_الفترة_PDF" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="تقرير_الفترة_اكسل" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="الفواتير_للفترة_طباعة" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="الفواتير_للفترة_PDF" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="الفواتير_للفترة_اكسل" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="الفواتير_غير_المدفوعة_طباعة" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="الفواتير_غير_المدفوعة_PDF" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="الفواتير_غير_المدفوعة_اكسل" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="الفواتير_غير_المستلمة_طباعة" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="الفواتير_غير_المستلمة_PDF" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="الفواتير_غير_المستلمة_اكسل" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="الفواتير_غير_المدفوعة" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="الفواتير_غير_المستلمة" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="المصروفات_طباعة" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="المصروفات_PDF" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="المصروفات_اكسل" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="تقرير_الانواع" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="تقرير_الانواع_طباعة" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="تقرير_الانواع_PDF" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="تقرير_الانواع_اكسل" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="فواتير_العملاء" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="فواتير_العملاء_طباعة" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="فواتير_العملاء_اكسل" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="فواتير_العملاء_PDF" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="بيانات_العمال" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="اعدادات_الاتصال_تعديل" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="بيانات_المعلمين" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="تقارير_ضريبة_القيمة_المضافة" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="تقارير_حسابات_الموردين" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="Remember_me" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="RememberUserName" serializeAs="String">
				<value />
			</setting>
			<setting name="RememberBranch" serializeAs="String">
				<value>1</value>
			</setting>
			<setting name="RememberLang" serializeAs="String">
				<value />
			</setting>
			<setting name="is_activated" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="SMS_Message" serializeAs="String">
				<value />
			</setting>
			<setting name="accConFlag" serializeAs="String">
				<value />
			</setting>
			<setting name="accConVal" serializeAs="String">
				<value />
			</setting>
			<setting name="accConDt" serializeAs="String">
				<value />
			</setting>
			<setting name="BackupFrequencyDays" serializeAs="String">
				<value>0</value>
			</setting>
			<setting name="BackupFrequencyHours" serializeAs="String">
				<value>7</value>
			</setting>
			<setting name="BackupPath" serializeAs="String">
				<value />
			</setting>
			<setting name="LastBackupTime" serializeAs="String">
				<value>1990-01-01</value>
			</setting>
		</SewingSystem.Properties.Settings>
	</userSettings>
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
